.control {
    height: 100%;
    max-width: 250px;
    min-width: fit-content;

    flex: 1;
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tab-switcher-button {
    width: 50%;
}

.non-active-tab {
    display: none;
}

#plr1-select-id {
    background-color: hsl(212, 71%, 67%);
}

#plr2-select-id {
    background-color: hsl(0, 71%, 67%);
}

.plr-select {
    border: none;
    padding: 3px;
}

.flipBoard-button {
    margin-top: auto;

    width: 100%;
    padding: 3px;
}