*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


:root {
    --bg-color: #282828;
    --light-slot-color: #d8dacf;
    --dark-slot-color: hsl(60, 3%, 42%);
    --startI-slot-color: hsl(60, 3%, 26%);
}

body {
    background-color: var(--bg-color);
    font-family: fantasy, Tahoma, sans-serif;

    width: 100vw;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.control-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checker-board {
    display: grid;
    gap: 1px;
    aspect-ratio: 1/1;
}

.slot {
    width: 100%;
    height: 100%;

    /* unless its a NaS, it should be dark*/
    background-color: var(--dark-slot-color);
    color: var(--light-slot-color);

    pointer-events: none;
    position: relative;
}

.NaS {
    background-color: var(--light-slot-color);
    width: 100%;
    height: 100%;
}

.piece {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.piece-img {
    width: 90%;
    height: 90%;
}

.slot-i {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}

.startI-slot {
    background-color: var(--startI-slot-color);
    pointer-events: auto;
}

.selectedI-slot {
    border: 3px solid greenyellow;
}

.endI-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.endI-slot-circle {
    background-color: yellowgreen;
    border-radius: 50%;
    width: 25%;
    height: 25%;
}